* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #6a26cd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  height: 100px;
  background-color: #f7f7fe;
  z-index: 10;
}

main {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.main {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.musicMain{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 25px;
}

.table {
  width: 60%;
  background-color: #f7f7fe;
  color: #6a26cd;
}

.td-btn {
  display: flex;
  justify-content: space-around;
}

.song {
  width: 30%;
  height: 250px;
  background-color: #f7f7fe;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song p, h2{
  margin-left: 50px;
}

